.new-comment {
    background-color: #262331;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-comment button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #686435;
    background-color: #686435;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-comment button:hover,
  .new-comment button:active {
    background-color: #868143;
    border-color: #868143;
  }
  
  .new-comment button.alternative {
    color: #686435;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-comment button.alternative:hover,
  .new-comment button.alternative:active {
    background-color: #686435;
  }