.application-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;  
    border-radius: 12px;

}
.application-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.application-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
    border-radius: 12px;

}
.application-item__status {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #ba8f00;
    border: 1px solid white;
    border-radius: 10px;
}

@media (min-width: 500px){
    .application-item__description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .application-item__description h2{
        font-size: 1.25rem;
    }
    .application-item__status {
        font-size: 1.25rem;
        padding: 0.5rem;
    }
}